<nz-form-item>
  <ng-container *ngIf="!hideLabel">
    <app-label-vertical
      *ngIf="!labelHorizontal"
      [content]="labelContent"
      [required]="required"
    ></app-label-vertical>
  </ng-container>

  <ng-container *ngIf="!hideLabel">
    <app-label-horizontal
      *ngIf="labelHorizontal"
      [content]="labelContent"
      [required]="required"
      [span]="24 - span"
    ></app-label-horizontal>
  </ng-container>

  <ng-container *ngIf="isInputGroup">
    <nz-form-control [nzSpan]="24" [nzErrorTip]="errorTip">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input
          nz-input
          [formControl]="ngControl.control"
          [type]="type"
          [placeholder]="placeHolder"
        />
      </nz-input-group>
    </nz-form-control>
  </ng-container>

  <ng-container *ngIf="!isInputGroup">
    <nz-form-control [nzSpan]="labelHorizontal ? span : null" [nzErrorTip]="errorTip">
      <input
        nz-input
        [formControl]="ngControl.control"
        [type]="type"
        [placeholder]="placeHolder"
      />
    </nz-form-control>
  </ng-container>

</nz-form-item>
