<app-loading></app-loading>
<page-header-wrapper>
    <app-breadcrumb *ngIf="isBreadcrumb" [listBreadCrumb]="breadcrumbs"></app-breadcrumb>
    <nz-card class="nz-card__form" [nzBordered]="false">
        <div nz-row>
            <div nz-col nzSpan="24">
                <app-title-header-layout>
                    <span *ngIf="isEdit">{{'breadcrumb.vm-management.edit' | i18n}} {{code}}</span>
                    <span *ngIf="!isEdit">{{'breadcrumb.vm-management.add' | i18n}}</span>
                </app-title-header-layout>
            </div>
        </div>
        <form nz-form [formGroup]="addForm">
            <div class="alt-row__container">
                <div class="alt-row__item">
                    <app-input-text formControlName="name" placeHolder="Tên server" #nameRef required="true" [maxLength]="500" labelContent="{{ 'catalog-management.vm.label.nameServer' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-input-text formControlName="systemName" placeHolder="Tên hệ thống" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.vm.label.projectName' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="os_ids" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="osId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.os' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="svServiceIds" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="svServiceId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.svService' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="flavorIds" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="flavorId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.flavor' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="storageIds" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="storageId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.storage' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="groupIds" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="svGroupId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.Group' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-select [data]="networkIds" [placeHolder]="'--Lựa chọn--'" [openSearchModal]="false" [getObjectValue]="true" [labelHorizontal]="false" formControlName="networkId" required="true" (selectChange)="selectChangeService($event)" labelContent="{{'catalog-management.vm.label.Network' | i18n}}"></app-select>
                </div>
                <div class="alt-row__item">
                    <app-input-text formControlName="ip" placeHolder="Địa chỉ IP" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.vm.label.ipAddress' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-input-text  formControlName="notes" placeHolder="ghi chú" [maxLength]="500" labelContent="{{ 'catalog-management.vm.label.nodes' | i18n }}"></app-input-text>
                </div>
                <ng-template *ngIf="!isEdit; else elseblock" ngFor let-idx="index" [ngForOf]="lstDataMapping">
                    <div class="alt-row__item" style="display: flex">
                        <app-input-text formControlName="{{volume[idx] + (idx + 1)}}" placeHolder="{{volume[idx] + (idx + 1)}}"
                            [maxLength]="500" labelContent="{{volume[idx] + (idx + 1)}}" style="flex:1">
                        </app-input-text>
                        <div *ngIf="(volume[idx] + (idx + 1)) == deleteCheck" style="display:flex; align-items:end;margin-left:6px">
                            <app-button-icon [isDelete]="true" [tooltipTitle]="'Xóa'" (click)="onDeleteMapping(idx)">
                            </app-button-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template #elseblock>
                    <ng-template ngFor let-data let-idx="index" [ngForOf]="volume">
                        <div class="alt-row__item" style="display: flex">
                            <app-input-text formControlName="{{volume[idx] + (idx + 1)}}" [maxLength]="500"
                                labelContent="{{volume[idx] + (idx + 1)}}" style="flex:1">
                            </app-input-text>
                            <div style="display:flex; align-items:end;margin-left:6px">
                                <app-button-icon [isDelete]="true" [tooltipTitle]="'Xóa'"
                                    (click)="onDeleteMappingInUpdate(idx)">
                                </app-button-icon>
                            </div>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </form>

        <div nz-row>
            <div nz-col nzSpan="24">
                <div class="list__container">
                    <div class="list__head">
                        <div class="list__head-left">
                            <!-- <div class="list__head-title">
                                <span class="head-title">{{ 'catalog-management.server.detail.label.vol' | i18n }}<span style="color: red">*</span></span>
                                <span class="head-count"><span class="head-count__bracket">(</span><span class="head-count__number">{{ lstDataMapping.length || 0 }}</span
                ><span class="head-count__bracket">)</span></span>
                            </div> -->
                        </div>
                        <div class="list__head-right">
                            <div class="list__head-btn">
                                <app-button-create  *ngIf="lstDataMapping.length < 3 && !isEdit"  [buttonType]="'link'" (clickCreate)="onCreateMapping()" [text]="'Add Volume'"></app-button-create>
                                <app-button-create  *ngIf="volume.length < 3 && isEdit"  [buttonType]="'link'" (clickCreate)="onAddVolumeInUpdate()" [text]="'Add Volume'"></app-button-create>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </nz-card>
    <div nz-row class="nz-card__form-action pt-4">
        <div *ngIf="!id" nz-col nzSpan="6" class="p-3">
            <label class="create-another" nz-checkbox [(ngModel)]="continueAdd">
        {{'component.base.checkbox.create-another' | i18n}}
      </label>
        </div>
        <div nz-col *ngIf="id" nz-col nzSpan="24" class="form-action__wrapper text-center">

            <app-button-cancel [isIcon]="false" [popConfirm]="false" (clickCancel)="cancelConfirm()"></app-button-cancel>

            <app-button-save [isIcon]="false" text="{{'layout.btn.update' | i18n}}" (clickSave)="submitForm(continueAdd)"></app-button-save>
        </div>
        <div nz-col *ngIf="!id" nz-col nzSpan="24" class="form-action__wrapper text-center">

            <app-button-cancel [isIcon]="false" [popConfirm]="false" (clickCancel)="cancelConfirm()"></app-button-cancel>

            <app-button-save [isIcon]="false" text="{{'layout.btn.create' | i18n}}" (clickSave)="submitForm(continueAdd)"></app-button-save>
        </div>
        <div *ngIf="!id" nz-col nzSpan="6"></div>
    </div>
</page-header-wrapper>
<app-modal-confirm title="{{'layout.btn.confirm' | i18n}}" [isVisible]="isViewConfirmCancel" content="{{ 'common.cancel.confirm.content' | i18n}}" textButtonCancel="{{'layout.btn.reject' | i18n}}" [isConfirm]="true" (clickConfirm)="cancel()" (clickCancel)="onCancelConfirm()"></app-modal-confirm>

