<nz-form-item>
  <ng-container *ngIf="!hideLabel">
    <app-label-vertical [content]="labelContent" [required]="required"></app-label-vertical>
  </ng-container>

  <ng-container *ngIf="isInputGroup">
    <nz-form-control [nzSpan]="24" [nzErrorTip]="emailErrorTpl">
      <nz-input-group [nzSize]="nzSize" nzPrefixIcon="mail" [nzSuffix]="inputClearTpl">
        <input
          #inputRef
          nz-input
          [formControl]="ngControl.control"
          [placeholder]="placeHolder"
          [disabled]="disabled"
          (focus)="onFocus(inputRef.value)"
          (blur)="onBlur(inputRef.value)"
        />

        <ng-template #inputClearTpl>
          <i *ngIf="inputRef.value && isFocused" nz-icon class="ant-input-clear-icon" nzTheme="fill"
             nzType="close-circle" (mousedown)="onClear();inputRef.value = null"></i>
        </ng-template>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">
            {{errorTipInvalid}}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            {{errorTipRequired}}
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </ng-container>

  <ng-container *ngIf="!isInputGroup">
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <nz-input-group [nzSize]="nzSize" [nzSuffix]="inputClearTpl">
        <input
          #inputRef nz-input
          [no-space]="true"
          [formControl]="ngControl.control"
          [disabled]="disabled"
          [placeholder]="placeHolder"
          (focus)="onFocus(inputRef.value)"
          (blur)="onBlur(inputRef.value)"
        />

        <ng-template #inputClearTpl>
          <i *ngIf="inputRef.value && isFocused" nz-icon class="ant-input-clear-icon" nzTheme="fill"
             nzType="close-circle" (mousedown)="onClear();inputRef.value = null"></i>
        </ng-template>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('pattern') && !control.hasError('maxlength')">
            {{errorTipInvalid | i18n}}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            {{errorTipRequired}}
          </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">{{labelContent}} không được vượt quá {{maxLength}} ký tự
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </ng-container>
</nz-form-item>
