<app-loading></app-loading>
<!--<div nz-row>-->
<!--  <div nz-col nzSpan="12">-->
<!--    <div class="page-header-wrapper__title">{{ 'catalog-management.inventory.title' | i18n }}</div>-->
<!--  </div>-->
<!--</div>-->
<page-header-wrapper>
    <app-breadcrumb *ngIf="isBreadcrumb" [listBreadCrumb]="breadcrumbs"></app-breadcrumb>
    <div nz-row>
        <nz-card nz-row>
            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel #searchPanel [nzExpandedIcon]="searchExpandedIcon" [nzActive]="true" [nzHeader]="'common.card.search.title' | i18n">
                    <ng-template #searchExpandedIcon let-active>{{ active }}
                        <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="searchPanel.nzActive ? 90 : -90"></i>
                    </ng-template>
                    <form nz-form [formGroup]="searchForm">
                        <div class="alt-row__container">
                            <div class="alt-row__item">
                                <app-input-text formControlName="name" placeHolder="Tên Storage" labelContent="{{ 'Tên Storage' | i18n }}"></app-input-text>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center btn-search__container">
                            <app-button-base iconType="search" (clickAction)="nzOnSearch($event)" text="{{ 'layout.btn.search' | i18n }}"></app-button-base>
                        </div>
                    </form>
                </nz-collapse-panel>
            </nz-collapse>
        </nz-card>
    </div>
    <div nz-row class="mb-0">
        <nz-card>
            <div class="list__container">
                <div class="list__head">
                    <div class="list__head-left">
                        <div class="list__head-title">
                            <span class="head-title">{{ 'Danh sách STORAGE' | i18n : {total: ""} }}</span>
                            <span class="head-count"><span class="head-count__bracket">(</span><span class="head-count__number">{{ total }}</span
              ><span class="head-count__bracket">)</span></span>
                        </div>
                    </div>
                    <div class="list__head-right">
                        <div class="list__head-btn">
                            <app-button-create [buttonType]="'link'" (clickCreate)="onCreate()"></app-button-create>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list__table" *ngIf="total > 0">
                <nz-table #rowSelectionTable nzBordered [nzData]="lstData" [nzFrontPagination]="false" [nzScroll]="{ x: SCROLL_TABLE.SCROLL_X}" [nzNoResult]="">
                    <thead>
                        <tr class="ant-header-customize">
                            <th nzWidth="100px" class="text-center">
                                {{ 'list.table.stt' | i18n }}
                            </th>
                            <th nzWidth="150px">
                                {{ 'ID' | i18n }}
                            </th>
                            <th nzWidth="400px">
                                {{ 'Name' | i18n }}
                            </th>
                            <th nzWidth="200px">
                                {{ 'common.list.table.hanh-dong' | i18n }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of lstData; let idx = index">
                            <td class="text-center">{{(request.page * request.size) + idx + 1}}</td>
                            <td [nz-tooltip]="data.id" class="max-width-200 text-center">{{data.id}}</td>
                            <td [nz-tooltip]="data.name" class="max-width-200 text-center">{{data.name}}</td>

                            <td class="text-center">
                                <app-button-icon class="action__margin" [isEdit]="true" [tooltipTitle]="'Cập nhật STORAGE'" (click)="goToEdit(data)"></app-button-icon>
                                <app-button-icon [isDelete]="true" [tooltipTitle]="'Xóa STORAGE'" (click)="openModalDelete(data)"></app-button-icon>
                            </td>
                        </tr>
                    </tbody>

                </nz-table>
                <div nz-row class="list__pagination justify-content-start" *ngIf="total > 0">
                    <div nz-col [nzSpan]="12">
                        <app-paging [itemOfPage]="request.size" [currentPage]="request.page" [totalItems]="total" (changeCurrentPage)="changeCurrentPage($event)" (changeItemPerPage)="changeItemPerPage($event)"></app-paging>
                    </div>
                </div>
            </div>
            <app-no-result *ngIf="total === 0">
            </app-no-result>
        </nz-card>
    </div>
</page-header-wrapper>
<app-modal-confirm title="{{ 'common.delete.title' | i18n :{function: translateService.instant('catalog-management.storage.function')} }}" [isVisible]="isVisibleModalDelete" content="{{'common.delete.content' | i18n : {content: translateService.instant('catalog-management.storage.function') + ' ' + selectedCode} }}"
    description="{{'common.delete.confirm' | i18n}}" textButtonCancel="{{'layout.btn.cancel2' | i18n}}" [isDelete]="true" (callBack)="callBackModalDelete($event)" (clickCancel)="onCancelModalDelete()"></app-modal-confirm>