.btn-toggle-column.ant-btn-primary {
  color: unset;
  background-color: transparent;
  border-color: transparent;
  text-shadow: unset;
  box-shadow: unset;
}
.scroll {
  height: 320px;
  overflow: auto;
}

