<app-loading></app-loading>
<page-header-wrapper>
    <app-breadcrumb *ngIf="isBreadcrumb" [listBreadCrumb]="breadcrumbs"></app-breadcrumb>
    <nz-card class="nz-card__form" [nzBordered]="false">
        <div nz-row>
            <div nz-col nzSpan="24">
                <app-title-header-layout>
                    <span *ngIf="isEdit">{{'breadcrumb.setting-management.edit' | i18n}}</span>
                </app-title-header-layout>
            </div>
        </div>
        <form nz-form [formGroup]="addForm">
            <div class="alt-row__container">
                <div class="alt-row__item">
                    <app-input-text formControlName="projectName" placeHolder="Tên dự án" #nameRef required="true" [maxLength]="500" labelContent="{{ 'catalog-management.setting.project' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-input-text formControlName="openStackUser" placeHolder="OpenStackUser" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.setting.openstackUser' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-input-text formControlName="openStackPass" placeHolder="OpenStackPass" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.setting.openstackPass' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                    <app-input-text formControlName="openStackApi" placeHolder="OpenStackApi" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.setting.openstackApi' | i18n }}"></app-input-text>
                </div>
                <div class="alt-row__item">
                  <app-input-text formControlName="timeRefreshPage" placeHolder="Thời gian load trang" required="true" [maxLength]="500" labelContent="{{ 'catalog-management.setting.timeLoadPage' | i18n }}"></app-input-text>
              </div>
            </div>
        </form>
    </nz-card>
    <div nz-row class="nz-card__form-action pt-4">

        <div nz-col *ngIf="id" nz-col nzSpan="24" class="form-action__wrapper text-center">

            <app-button-cancel [isIcon]="false" [popConfirm]="false" (click)="cancel()"></app-button-cancel>

            <app-button-save [isIcon]="false" text="{{'layout.btn.update' | i18n}}" (clickSave)="submitForm(continueAdd)"></app-button-save>
        </div>
    </div>
</page-header-wrapper>
<app-modal-confirm title="{{'layout.btn.confirm' | i18n}}" [isVisible]="isViewConfirmCancel" content="{{ 'common.cancel.confirm.content' | i18n}}" textButtonCancel="{{'layout.btn.reject' | i18n}}" [isConfirm]="true" (clickConfirm)="cancel()" (clickCancel)="onCancelConfirm()"></app-modal-confirm>
